@media screen and (max-width: 640px)
{
    .contain0
    {
        display: flex;
        justify-content: center;
    }

    .contain_sous0
    {
        margin-left: 0;
    }

    .contain_sous1
    {
        margin-right: 0;
    }
}