html, body
{
    background-color: #fafafa;
}

.navbar {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    background-color: black;
    z-index: 1;
}

.navbar ul
{
    list-style-type: none;
}

.navbar ul li
{
    display: inline-block;
    margin: 0 30px;
}

.navbar ul li a
{
    text-decoration: none;
    color: white;
    font-size: 1.1em;
}

.container1
{
    margin-left: 30px;
}

.container2
{
    margin-right: 30px;
    margin-top: 15px;
}

.main
{
    margin-top: 100px;
    flex: 1 0 auto;
}

.contain0
{
    background-color: #d3334d;
    color: white;
    font-size: 1.05em;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: -24px;
}

.contain_sous0
{
    margin-left: 30px;
}

.contain_sous1
{
    margin-right: 30px;
}

.contain1
{
    background-color: #333b48;
    color: white;
}

.contain1 li
{
    text-align: left;
}

.lol li
{
    padding-bottom: 16px;
}

.contain1 a
{
    color: white;
    font-size: 0.9em;
}

.contain1 h5
{
    text-align: left;
    font-size: 1.0em;
}

.test3
{
    background-color: #282e3a;
    color: #a1a2a4;
    font-size: 0.9em;
}

.testtt
{
    text-align: center;
    line-height : 25px;
}

.lil li
{
    padding-bottom: 16px;
}

.containGlobal h5
{
    font-size: 1.2em;
}